* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
}

h1 {
  font-size: 3.2rem;
  padding-bottom: 20px;
  color: white;
  font-weight: bold;
  font-family: "Indie Flower", sans-serif;
}

h2 {
  color: white;
}

p {
  font-size: 30px;
  padding-bottom: 20px;
  color: wheat;
  font-family: "Indie Flower";
}

#question-title {
  color: white;
  font-size: 30px;
}

#end-screen p {
  font-family: "Roboto", sans-serif;
}

.wrapper {
  margin: 100px auto 0 auto;
  max-width: 1000px;
  text-align: center;
}

.hide {
  display: none;
}

.start {
  text-align: center;
}

.feedback {
  font-style: italic;
  font-size: 120%;
  margin-top: 20px;
  padding-top: 10px;
  color: gray;
  border-top: 2px solid rgb(201, 193, 193);
}

.timer {
  position: absolute;
  top: 1px;
  right: 15px;
  font-size: 30px;
  color: white;
  font-family: "Indie Flower", sans-serif;
}

a {
  color: white;
  text-decoration: none;
  transition: color 0.1s;
  font-size: 30px;
  font-family: "Indie Flower", sans-serif;
  padding: 12px;
}

a:hover {
  color: white;
}

button {
  display: inline-block;
  margin: 5px;
  cursor: pointer;
  font-size: 20px;
  background-color: teal;
  border-radius: 5px;
  padding: 10px 10px;
  color: white;
  border: 0;
  transition: background-color 0.1s;
}

button:hover {
  background-color: green;
}

.choices button {
  display: block;
}

input[type="text"] {
  font-size: 100%;
}

ol {
  padding-left: 0px;
  max-height: 400px;
  overflow: auto;
}

li {
  padding: 5px;
  list-style: decimal inside none;
  color: white;
}

li:nth-child(odd) {
  background-color: #dfdae7;
  color: black;
}
